<table class="genre">
        <thead>
            <tr>
                <th>ジャンル検索</th>
            </tr>
        </thead>

        <tbody>
            <% (Genre.all).each do |g| %>
                <tr>
                    <td>
                        <%= link_to genre_path(g.id) do%>
                            <%= g.name %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</table>